<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93485447785-88kqs2j8kl4tbtdd310jd1mnikr9lng9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93485447785-88kqs2j8kl4tbtdd310jd1mnikr9lng9</string>
	<key>API_KEY</key>
	<string>AIzaSyCHV8cs0WTG7UMYIALACbGyaSRLuKqh5Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>93485447785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoparts</string>
	<key>PROJECT_ID</key>
	<string>demoflutter-ea7de</string>
	<key>STORAGE_BUCKET</key>
	<string>demoflutter-ea7de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93485447785:ios:b1e5b039dfade8077b80f8</string>
</dict>
</plist>